/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #555;
}
a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}
a:hover {
    opacity: 1;
}

a.btn {
    text-transform: uppercase;
    padding: 20px 70px;
    border-radius: 4px;
    background-color: #3f51b5;
    font-weight: bold;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

/* Header Styles */

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 0;
    align-items: center;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: "Quicksand", sans-serif;
}

header li {
    margin: 0 15px;
}

header li:first-child {
    margin-left: 0;
}

nav {
    list-style: none;
    display: flex;
    margin-right: -15px;
}

/* Hero Styles */

.hero {
    position: relative;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    color: #fff;
    
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background-image.jpg");
    z-index: -1;
    background-size: cover;
}

.hero .background-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #414a4f;
    opacity: 0.75;
}
.hero h1 {
    font: bold 50px "Open Sans", sans-serif;
    /* font-size: 50px; */
    margin-bottom: 15px;
}
.hero h3 {
    font: bold 28px "Open Sans", sans-serif;
    /* font-size: 24px;
    font-weight: 300; */
    margin-bottom: 30px;
}
.hero-content-area {
    opacity: 0;
    /* margin-top: 100px; 마진으로 해도 되고 트랜스폼으로 해도됨 */ 
    transform: translateY(100px);
    animation: 1s slidefade 2s forwards;
}

@keyframes slidefade{
    /* 80% {
        opacity: 0.8;
        transform: translateY(-10px);
    } */
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Our Work styles */